/*login styles*/
.sign-in-div {
	width:600px;
	margin:0 auto;
	//margin-right:0px auto;
}

.input-block-level {
	width:100%;
	border: 4px solid white; 
	border-radius: 4px 4px 4px 4px;;
    background: rgba(255,255,255,1);
    margin: 0 0 10px 0;

}

/*global assets*/
h1, h2, h3, h4, {
	font-family: 'Open Sans', sans-serif;
}

p.custom-font {
	font-family: 'Open Sans', sans-serif;
	line-height: 25px;
}

.just-custom-font {
	font-family: 'Open Sans', sans-serif;
	font-size:0.7em;
}

.just-custom-font-header {
	font-family: 'Open Sans', sans-serif;
	//font-size:0.7em;
}

.custom-text-brand {
	color:white;
}

.blue-background {
	background-color:#0D6A92;
}

.navbar-form .form-group.form-margin {
	margin-bottom:10px;	
}

.modal-header {
min-height: 16.43px;
padding: 15px;
border-bottom: 0px solid #e5e5e5;
}

.text-overflow {
  width: 99%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

/*sales page assets*/
.custom-form-well {
	margin-top:10px;
	background-color:rgba(13,106,146,0.8);
	border:0px;
	color:white;
}

.nav-pills>li>a {
	font-family: 'Open Sans', sans-serif;
	border-radius: 4px;
	color:white;
}

.nav-pills>li>a:hover {
	font-family: 'Open Sans', sans-serif;
	border-radius: 4px;
	color:#0D6A92;
}

.h2-top {
	margin-top:55px;
}

/*dash page assets*/
.custom-well-dash-unselected {
	//margin-top:1px;
	margin-bottom:1px;
	opacity: 0.5;
	border:0px;
	color:white;
}

.custom-well-dash-left {
	//margin-top:1px;
	margin-bottom:1px;
	
	border:0px;
	color:white;
}

.custom-well-dash-left:hover {
	//margin-top:1px;
	margin-bottom:1px;
	background-color: #337ab7;
	border:0px;
	color:white;
	cursor:pointer;
}

.active-item-right {
	//margin-top:1px;
	margin-bottom:1px;
	background-color: #337ab7;
	border:0px;
	color:white;
}

/*start: list query view hover states*/
.query-table-row {
	margin-bottom:1px;
	height:30px;
	border:0px;
	color:white;
}

.query-table-row:hover {
	//margin-top:1px;
	margin-bottom:1px;
	background-color: #337ab7;
	border:0px;
	color:white;
	cursor:pointer;
}

.active-query-table-row {
	//margin-top:1px;
	margin-bottom:1px;
	background-color: #337ab7;
	border:0px;
	color:white;
}
/*end: list query view hover states*/

.dash-list-query-area {
	background-color:#0d6a92;
}



.dash-left-inter-margin {
	//margin-top:58px;
}

.dash-left-full-margin {
	margin:15px;
}

.dash-left-inter-margin p, .dash-right-inter-margin p {
	margin: 0px 0px 0px 0px;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	color:#e5e5e5;
}

.dash-right-inter-margin span.body {
	margin: 0px 0px 0px 0px;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	color:#e5e5e5;
}

.dash-left-inter-margin p.heading, .dash-right-inter-margin p.heading {
	margin: 0px 0px 0px 0px;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	padding-top:10px;
}

.dash-right-inter-margin span.heading {
	font-weight:bold;
	font-family: 'Open Sans', sans-serif;
}

.dash-left-inter-margin p.small, .dash-right-inter-margin p.small {
	margin: 5px 0px 5px 0px;
	font-size: 12px;
	color:#e5e5e5;
	font-family: 'Open Sans', sans-serif;
}

.small-user {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	width:40px;
}

.big-user {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	width:85px;
}

.thumbnail-class {
	width:160px;
	padding-right:30px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.options-inter-margin{
	margin: 0px 10px 10px 10px;
}

.options-inter-margin input{
	margin-bottom:2px;
}

.options-inter-margin label{
	color:white;
	font-family: 'Open Sans', sans-serif;
}

.dash-heading-4 {
	font-family: 'Open Sans', sans-serif;
}

.content-marker {
	height:200px;
	width:300px;
}

.white-class{
	color:white;
	font-family: 'Open Sans', sans-serif;
}

.blue-class{
	background-color: rgb(51, 122, 183);
}

.darker-blue-backgroud-class{
	background-color: #0D6A92;
	font-size: 100%;
}

.subtle-blue{
	color:#0D6A92;
	font-weight: bold;
	margin-bottom: 3px;
}

.custom-info-well-sub-header{
	margin-top:0px;
}
.custom-well-info {
	margin-top:1px;
	margin-bottom:1px;
	margin-left:1px;
	margin-right:1px;
	border:0px;
	color:white;
	background-color: rgb(51, 122, 183);
	padding-top: 5px;
	padding-bottom:5px;
}

.custom-well-info-dark-blue {
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 1px;
  margin-right: 1px;
  border: 0px;
  color: white;
  background-color: #0d6a92;
  padding-top: 10px;
  padding-bottom: 10px;
}

.left-action-buttons-title{
	width: 50%;
	float: left;
	margin-top: 8px;
	color: white;
	margin-left: 12px;
}

.custom-input {
	width:230px;
	margin-right:10px;
	border: 4px solid #0d6a92; 
	border-radius: 4px 0px 0px 4px;;
    //-webkit-box-shadow: 
      //inset 0 0 8px  rgba(0,0,0,0.1),
        //    0 0 16px rgba(0,0,0,0.1); 
    //-moz-box-shadow: 
      //inset 0 0 8px  rgba(0,0,0,0.1),
        //    0 0 16px rgba(0,0,0,0.1); 
    //box-shadow: 
      //inset 0 0 8px  rgba(0,0,0,0.1),
            //0 0 16px rgba(0,0,0,0.1); 
    padding: 2px;
    background: rgba(255,255,255,1);
    margin: 0 0 10px 0;
}

.block-container-toggle-left {
	width:50%;
	float:left;
}

.block-container-toggle-right {
	width:50%;
	float:right;
}

/*start search input and message pop up assets*/
#search-holder {
	position:absolute;
    top: 98px;
    left:900px;
    height:250px;
    width:500px;
    background-color:#337ab7;
}

.search-dropdown-holder {
	text-align: right;
}

.search-dropdown-nested-holder{
	//padding:20px;
	color:white;
	padding: 5px 10px;
	border-radius: 35px 0px 0px 35px;
	background-color: #0D6A92;
	float: right;
}

.trash-hide {
	display:none;
}

/*switch button css*/
.switch-button-label {
    float: left;

    
    cursor: pointer;
}

.switch-button-label.off {
    color: #0D6A92;
}

.switch-button-label.on {
    color: white;
}

.switch-button-background {
    float: left;
    position: relative;

    background: #0D6A92;
    border: 1px solid #0b5778;

    margin: 1px 10px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    cursor: pointer;
}

.switch-button-button {
    position: absolute;

    left: -1px;
    top : -1px;

    background: #FAFAFA;
    border: 1px solid #aaa;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/*communique css*/
#communique {
    position: fixed;
    top: -35px;
    background-color: #337ab7;
    height:28px;
    z-index:1500;
}

#communique-text-holder {
    text-align: center;
    color: white;
    margin-top:5px;
}

.letter {
	display:none;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent; 
	border-left:30px solid #337ab7; 
	z-index:9999999999;
  	top: 50px;
  	left: -999px;
  	position: absolute;
}

/*bootstrap overrides */
@media print {
  *,
  *:before,
  *:after {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: "";
  }
  abbr[title]:after {
    content: "";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
}

.pagination {
  display: inline; 
  padding-left: 0;
  margin: 0px 0; 
  border-radius: 4px;
}

.pagination ul {
  margin-top: 0;
  margin-bottom: 0px; 
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 300;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  width: 99%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}






/*end dash page assets*/